@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
/* стартовые настроки */
:root {
  --index: calc(1vh + 1vw);
  --yellow: #FFF0BB;
  --white: #FFFFFF;
  --grey: #CDCDCD;
  --body-background: linear-gradient(45deg, rgb(116, 155, 191), rgb(14, 33, 51));
  --light-blue: rgb(116, 155, 191);
  --dark-blue: rgb(14, 33, 51);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--dark-blue);
  border-radius: 10px;
}
*::-webkit-scrollbar {
  width: 10px;
  background-color: var(--dark-blue);
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(110, 135, 187)), color-stop(0.72, rgb(58, 101, 155)), color-stop(0.86, rgb(28, 58, 148)));
}

body {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  background: var(--body-background);
  background-attachment: fixed;
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}
body.lock {
  overflow: hidden;
}

.btn {
  background: transparent;
  color: var(--yellow);
  padding: 20px 25px;
  border: 3px solid var(--yellow);
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
}
.btn:hover {
  -webkit-box-shadow: 0 0 10px var(--yellow);
          box-shadow: 0 0 10px var(--yellow);
}

.container {
  max-width: 1440px;
  margin: 15px auto;
  padding-inline: 20px;
}

/* header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}
header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
header .header__logo img {
  width: 65px;
}
header .header__logo h2 {
  font-size: 28px;
  font-weight: medium;
  line-height: 0;
  color: var(--white);
}
header .header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
header .header__navigation ul li a {
  font-size: 20px;
  font-weight: medium;
  line-height: 0;
  color: var(--grey);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (hover: hover) {
  header .header__navigation ul li a:hover {
    color: var(--white);
  }
}
header .header__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
header .header__blocks .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
header .header__blocks .cart__icon {
  width: 60px;
  height: 60px;
  border: 3px solid transparent;
  border-radius: 50%;
  background: var(--yellow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .header__blocks .cart__icon img {
  width: 50px;
  height: 50px;
}
@media (hover: hover) {
  header .header__blocks .cart__icon:hover {
    border: 3px solid var(--yellow);
    background: transparent;
  }
  header .header__blocks .cart__icon:hover img {
    -webkit-filter: brightness(0) saturate(100%) invert(89%) sepia(27%) saturate(417%) hue-rotate(340deg) brightness(103%) contrast(104%);
            filter: brightness(0) saturate(100%) invert(89%) sepia(27%) saturate(417%) hue-rotate(340deg) brightness(103%) contrast(104%);
  }
}
@media (hover: none) {
  header .header__blocks .cart__icon:active {
    border: 3px solid var(--yellow);
    background: transparent;
  }
  header .header__blocks .cart__icon:active img {
    -webkit-filter: brightness(0) saturate(100%) invert(89%) sepia(27%) saturate(417%) hue-rotate(340deg) brightness(103%) contrast(104%);
            filter: brightness(0) saturate(100%) invert(89%) sepia(27%) saturate(417%) hue-rotate(340deg) brightness(103%) contrast(104%);
  }
}
header .header__blocks .cart h3 {
  font-size: 24px;
  font-weight: medium;
  line-height: 0;
  color: var(--white);
}
header .header__blocks .btn-auto-reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .header__blocks .btn-auto-reg form {
  width: 100%;
}
header .header__blocks .btn-auto-reg form button {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (hover: hover) {
  header .header__blocks .btn-auto-reg form button:hover {
    border: 3px solid transparent;
    background-color: var(--yellow);
    color: #000;
  }
}
@media (hover: none) {
  header .header__blocks .btn-auto-reg form button:active {
    border: 3px solid transparent;
    background-color: var(--yellow);
    color: #000;
  }
}
header .header__blocks .btn-auto-reg form:first-child button {
  border-radius: 20px 20px 0 0;
}
header .header__blocks .btn-auto-reg form:last-child button {
  border-radius: 0 0 20px 20px;
}
header .header__blocks .btn-acc form button {
  padding: 10px 15px;
  font-size: 16px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (hover: hover) {
  header .header__blocks .btn-acc form button:hover {
    border: 3px solid transparent;
    background-color: var(--yellow);
    color: #000;
  }
}
@media (hover: none) {
  header .header__blocks .btn-acc form button:active {
    border: 3px solid transparent;
    background-color: var(--yellow);
    color: #000;
  }
}

header nav ul li:nth-child(3) a {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

main .leave-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
main .leave-feedback article h1 {
  text-align: center;
  font-size: 28px;
  font-weight: extrabold;
  line-height: auto;
  color: var(--white);
}
main .leave-feedback .container form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
main .leave-feedback .container form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
main .leave-feedback .container form div label {
  font-size: 20px;
  font-weight: medium;
  line-height: auto;
  color: var(--white);
}
main .leave-feedback .container form div textarea {
  width: 100%;
  background: transparent;
  color: var(--yellow);
  padding: 10px 15px;
  border: 3px solid var(--yellow);
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  outline: none;
  cursor: text;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
main .leave-feedback .container form div textarea:hover {
  -webkit-box-shadow: 0 0 10px var(--yellow);
          box-shadow: 0 0 10px var(--yellow);
}
main .leave-feedback .container form div textarea::-webkit-input-placeholder {
  color: var(--yellow);
}
main .leave-feedback .container form div textarea::-moz-placeholder {
  color: var(--yellow);
}
main .leave-feedback .container form div textarea:-ms-input-placeholder {
  color: var(--yellow);
}
main .leave-feedback .container form div textarea::-ms-input-placeholder {
  color: var(--yellow);
}
main .leave-feedback .container form div textarea::placeholder {
  color: var(--yellow);
}
main .leave-feedback .container form div textarea:focus {
  background-color: var(--yellow);
  color: #000;
}
main .leave-feedback .container form div textarea:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}
main .leave-feedback .container form div textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--yellow);
  border-radius: 10px;
}
main .leave-feedback .container form div textarea::-webkit-scrollbar {
  width: 10px;
  background-color: var(--yellow);
}
main .leave-feedback .container form div input {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 15px;
}
@media (hover: hover) {
  main .leave-feedback .container form div input:hover {
    background-color: var(--yellow);
    color: #000;
  }
}
@media (hover: none) {
  main .leave-feedback .container form div input:active {
    background-color: var(--yellow);
    color: #000;
  }
}
main .feedbacks .container .feedbacks__wraper article {
  margin-bottom: 20px;
}
main .feedbacks .container .feedbacks__wraper article h1 {
  text-align: center;
  font-size: 28px;
  font-weight: extrabold;
  line-height: auto;
  color: var(--white);
}
main .feedbacks .container .feedbacks__wraper .feedbacks__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}
main .feedbacks .container .feedbacks__wraper .feedbacks__items .item {
  background-color: color-mix(in srgb, var(--light-blue), var(--dark-blue));
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  overflow: hidden;
}
main .feedbacks .container .feedbacks__wraper .feedbacks__items .item h3 {
  font-size: calc(var(--index) * 1);
  font-weight: extrabold;
  line-height: auto;
  color: var(--white);
}
main .feedbacks .container .feedbacks__wraper .feedbacks__items .item p {
  font-size: calc(var(--index) * 0.6);
  font-weight: extrabold;
  line-height: auto;
  color: var(--grey);
}

/* footer */
footer {
  background-color: var(--dark-blue);
  height: 300px;
}
footer .container {
  height: 100%;
  margin-bottom: 0;
}
footer .container .footer__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
footer .container .footer__wraper .footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
footer .container .footer__wraper .footer__text h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: auto;
  color: var(--white);
  width: 280px;
}
footer .container .footer__wraper .footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}
footer .container .footer__wraper .footer__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
footer .container .footer__wraper .footer__navigation ul li a {
  font-size: 20px;
  font-weight: bold;
  line-height: auto;
  color: var(--grey);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
footer .container .footer__wraper .footer__navigation ul li a:hover {
  color: var(--white);
}
footer .container .footer__wraper .footer__navigation .footer__tg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
footer .container .footer__wraper .footer__navigation .footer__tg a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--light-blue);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
footer .container .footer__wraper .footer__navigation .footer__tg a img{
    width: 80%;
}
@media (hover: hover) {
  footer .container .footer__wraper .footer__navigation .footer__tg a:hover {
    background: color-mix(in srgb, var(--light-blue), var(--dark-blue));
  }
}
.no-feedback{
    font-size: 48px;
    text-align:center;
    margin-block: 150px;
    padding: 10px 15px;
    color:var(--yellow);
    background: color-mix(in srgb, var(--light-blue), var(--dark-blue));
    border-radius: 15px;
}