@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
/* стартовые настроки */
:root {
  --index: calc(1vh + 1vw);
  --yellow: #FFF0BB;
  --white: #FFFFFF;
  --grey: #CDCDCD;
  --body-background: linear-gradient(45deg, rgb(116, 155, 191), rgb(14, 33, 51));
  --light-blue: rgb(116, 155, 191);
  --dark-blue: rgb(14, 33, 51);
  --transition: 1s cubic-bezier(0.050, 0.500, 0.000, 1.000);

  --swiper-navigation-size: 50px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--yellow);
  --swiper-pagination-color: var(--yellow);
  --swiper-pagination-bullet-inactive-color: var(--yellow);
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--dark-blue);
  border-radius: 10px;
}
*::-webkit-scrollbar {
  width: 10px;
  background-color: var(--dark-blue);
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(110, 135, 187)), color-stop(0.72, rgb(58, 101, 155)), color-stop(0.86, rgb(28, 58, 148)));
}

body {
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  font-size: 16px;
  background: var(--body-background);
  background-attachment: fixed;
  overflow-x: hidden;
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}
body.lock {
  overflow: hidden;
}

.btn {
  background: transparent;
  color: var(--yellow);
  padding: 20px 25px;
  border: 3px solid var(--yellow);
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
}
.btn:hover {
  -webkit-box-shadow: 0 0 10px var(--yellow);
          box-shadow: 0 0 10px var(--yellow);
}

.container {
  max-width: 1440px;
  margin: 15px auto;
  padding-inline: 20px;
}

/* header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}
header .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
header .header__logo img {
  width: 65px;
}
header .header__logo h2 {
  font-size: 28px;
  font-weight: medium;
  line-height: 0;
  color: var(--white);
}
header .burger-navigation{
  display: flex;
  align-items: center;
  gap: 40px;
}
header .hamburger{
  display: none;
}
header .header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
header .header__navigation ul li a {
  font-size: 20px;
  font-weight: medium;
  line-height: 0;
  color: var(--grey);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (hover: hover) {
  header .header__navigation ul li a:hover {
    color: var(--white);
  }
}
header .header__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
header .header__blocks .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
header .header__blocks .cart__icon {
  width: 60px;
  height: 60px;
  border: 3px solid transparent;
  border-radius: 50%;
  background: var(--yellow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header .header__blocks .cart__icon img {
  width: 50px;
  height: 50px;
}
@media (hover: hover) {
  header .header__blocks .cart__icon:hover {
    border: 3px solid var(--yellow);
    background: transparent;
  }
  header .header__blocks .cart__icon:hover img {
    -webkit-filter: brightness(0) saturate(100%) invert(89%) sepia(27%) saturate(417%) hue-rotate(340deg) brightness(103%) contrast(104%);
            filter: brightness(0) saturate(100%) invert(89%) sepia(27%) saturate(417%) hue-rotate(340deg) brightness(103%) contrast(104%);
  }
}
@media (hover: none) {
  header .header__blocks .cart__icon:active {
    border: 3px solid var(--yellow);
    background: transparent;
  }
  header .header__blocks .cart__icon:active img {
    -webkit-filter: brightness(0) saturate(100%) invert(89%) sepia(27%) saturate(417%) hue-rotate(340deg) brightness(103%) contrast(104%);
            filter: brightness(0) saturate(100%) invert(89%) sepia(27%) saturate(417%) hue-rotate(340deg) brightness(103%) contrast(104%);
  }
}
header .header__blocks .cart h3 {
  font-size: 24px;
  font-weight: medium;
  line-height: 0;
  color: var(--white);
}
header .header__blocks .btn-auto-reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .header__blocks .btn-auto-reg form {
  width: 100%;
}
header .header__blocks .btn-auto-reg form button {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (hover: hover) {
  header .header__blocks .btn-auto-reg form button:hover {
    border: 3px solid transparent;
    background-color: var(--yellow);
    color: #000;
  }
}
@media (hover: none) {
  header .header__blocks .btn-auto-reg form button:active {
    border: 3px solid transparent;
    background-color: var(--yellow);
    color: #000;
  }
}
header .header__blocks .btn-auto-reg form:first-child button {
  border-radius: 20px 20px 0 0;
}
header .header__blocks .btn-auto-reg form:last-child button {
  border-radius: 0 0 20px 20px;
}
header .header__blocks .btn-acc form button {
  padding: 10px 15px;
  font-size: 16px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (hover: hover) {
  header .header__blocks .btn-acc form button:hover {
    border: 3px solid transparent;
    background-color: var(--yellow);
    color: #000;
  }
}
@media (hover: none) {
  header .header__blocks .btn-acc form button:active {
    border: 3px solid transparent;
    background-color: var(--yellow);
    color: #000;
  }
}
swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 800px;
  object-fit: cover;
  
}
.layers{
    perspective: 1000px;
}
.layers__container{
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    margin: 50px 300px;
    background: color-mix(in srgb, var(--light-blue), var(--dark-blue));
    padding: 0px;
    border-radius: 30px;
    will-change: transform;
    transition: transform var(--transition) ;
}

.layer-1{
  transform: translateZ(0) scale(1.06);
  
}
.layer-2{
  transform: translateZ(80px) scale(.88);

  & .hero-content{
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: center;

    & h1{
      color: var(--white);
      font-size: 28px;
      font-weight: extrabold;
    }
    & p{
      color: var(--grey);
      font-size: 24px;
    }
    & .btn{
      text-align: center;
      transition: all .2s;
    }
  }
}
@media (hover: hover) {
  .btn:hover{
    background-color: var(--yellow);
    color: var(--dark-blue);
  }
}
@media (max-width: 1200px){
  header{
    padding-inline: 30px;
    justify-content: space-between;

    & .header__logo{
      gap: 15px;

      & img{
        width: 40px;
      }
      & h2{
        font-size: 24px;
      }
    }
    & .header__navigation ul{
      gap:20px;

      & li a{
        font-size: 16px;
      }
    }
    & .header__blocks{
      gap: 20px;

      .cart{
        gap:10px;

        & .cart__icon{
          width: 40px;
          height: 40px;
  
          & img{
            width: 33px;
            height: 33px;
          }
        }
        & h3{
          font-size: 20px;
        }
      }
      & .btn-acc form button{
        font-size: 14px;
        padding: 7px 12px;
        border: 2px solid var(--yellow)
      }
      & .btn-auto-reg form button{
        font-size: 10px;
        padding: 7px 13px;
        border: 2px solid var(--yellow)
      }
      @media (hover: hover) {
        & :is(.btn-acc, .btn-auto-reg) form button:hover{
          border: 2px solid var(--yellow);
        } 
      }
      @media (hover:none) {
        & :is(.btn-acc, .btn-auto-reg) form button:active{
          border: 2px solid var(--yellow);
        }
      }
    }
  }
}
@media screen and (max-width: 890px){
  header .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 0;
    width: 50px;
    height: 50px;
    z-index: 6;

  }
  .hamburger--line {
    width: 55px;
    height: 5px;
    border-radius: 5px;
    display: block;
    background-color: var(--yellow);
    transition-duration: 250ms;
    position: absolute;
  }
  .hamburger--line::before,
  .hamburger--line::after{
    content: '';
    width: 100%;
    height: 5px;
    border-radius: 5px;
    display: block;
    background-color: var(--yellow);
    position: absolute;
    transition: 200ms;
  }
  .hamburger--line::before {
    top: -15px;
  }
  .hamburger--line::after {
    top: 15px;
  }
  .hamburger--line__x {
    transform: rotate(-45deg);
  }
  .hamburger--line__x::before,
  .hamburger--line__x::after{
    transform: rotate(90deg);
    top: 0px;
  }
  header .burger-navigation{
    flex-direction: column;
    position: absolute;
    right: -200px;
    top:0;
    height: 100dvh;
    width: 200px;
    background-color: var(--dark-blue);
    border-left: 1px solid var(--yellow);
    justify-content: center;
    z-index: 5;
    transition: all .2s;

    &.active{
      right: 0;
    }
  }
  header .header__navigation ul{
    flex-direction: column;
    align-items: center;
  }
  header .header__blocks{
    flex-direction: column;
    align-items: center;
  }
}

/* footer */
footer {
  background-color: var(--dark-blue);
  height: 300px;
}
footer .container {
  height: 100%;
  margin-bottom: 0;
}
footer .container .footer__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
footer .container .footer__wraper .footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
footer .container .footer__wraper .footer__text h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: auto;
  color: var(--white);
  width: 280px;
}
footer .container .footer__wraper .footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}
footer .container .footer__wraper .footer__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
footer .container .footer__wraper .footer__navigation ul li a {
  font-size: 20px;
  font-weight: bold;
  line-height: auto;
  color: var(--grey);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
footer .container .footer__wraper .footer__navigation ul li a:hover {
  color: var(--white);
}
footer .container .footer__wraper .footer__navigation .footer__tg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
footer .container .footer__wraper .footer__navigation .footer__tg a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--light-blue);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
footer .container .footer__wraper .footer__navigation .footer__tg a img{
    width: 80%;
}
@media (hover: hover) {
  footer .container .footer__wraper .footer__navigation .footer__tg a:hover {
    background: color-mix(in srgb, var(--light-blue), var(--dark-blue));
  }
}