 {% extends "base.html" %}
 {% block content %}
<!-- main-->
<main>
  <div class="container">
    <div class="main__wraper">
      <article>
        <h1>Корзина</h1>
      </article>
      <section class="cart">
        {% for item in cart_items %}
          <div class="item1 item">
            {% if item.image1 %}
              <img src="{{ url_for('static', filename='img/product_img/' + item.image1) }}" alt="">
            {% else %}
              <img src="{{ url_for('static', filename='img/no-image.jpg') }}" alt="">
            {% endif %}
            <div class="text">
              <h3>{{ item.product.title }}</h3>
              <p>{{ item.product.content }}</p>
              <a href="/del-cart-item/{{item.id}}" class="btn btn_item">Удалить из корзины</a>
              <a href="/info_product/{{ item.product.id }}" class="btn btn_info">Больше информации</a>
            </div>
          </div>
        {% else %}
          <h1 class="no-product">Ваша корзина пуста</h1>
        {% endfor %}
      </section>
    </div>
  </div>
</main>
{% endblock %}