{% extends "base.html" %}
{% block content %}
<!-- main -->
<main>
    <section class="layers">
        <div class="layers__container">
            <div class="layers__item layer-1"></div>
            <div class="layers__item layer-2">
                <div class="hero-content">
                    <swiper-container class="" pagination="true" pagination-dynamic-bullets="true" navigation="true"
                                      pagination-clickable="true" slides-per-view="1"  space-between="30">
                        <swiper-slide>
                            {% if product.image1 %}
                              <img src="{{ url_for('static', filename='img/product_img/' + product.image1) }}" alt="">
                            {% else %}
                              <img src="{{ url_for('static', filename='img/no-image.jpg') }}" alt="">
                            {% endif %}
                        </swiper-slide>
                        <swiper-slide>
                            {% if product.image2 %}
                              <img src="{{ url_for('static', filename='img/product_img/' + product.image2) }}" alt="">
                            {% else %}
                              <img src="{{ url_for('static', filename='img/no-image.jpg') }}" alt="">
                            {% endif %}
                        </swiper-slide>
                    </swiper-container>
                    <h1>{{ product.title }}</h1>
                    <p>Описание: {{ product.content }}</p>
                    <p>Цена: {{ product.price }}₽</p>
                    <p>Дата создания: {{ product.created_date.strftime("%d.%m.%Y") }}</p>
                    {% if product.user_id == current_user.id %}
                        <a href="/shop" class="btn btn_go-shop">На страницу с товарами</a>
                    {% else %}
                        <a href="/shop" class="btn btn_go-shop">На страницу с товарами</a>
                        {% if current_user.is_authenticated %}
                            <a href="/add-cart/{{ product.id }}" class="btn btn_info">Добавить в корзину</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}