 {% extends "base.html" %}
 {% block content %}
<!-- main-->
<main>
  <div class="container">
    <div class="main__wraper">
      <!-- поиск-->
      <section class="search">
        <form class="search-form">
            <input type="text" name="search" placeholder="Поиск">
        </form>
      </section>
      <div class="product">
        <!-- аккустические гитары-->
        <section class="giutar">
          {% for item in products %}
            {% if item.user_id == current_user.id %}
              <div class="item{{ loop.index }} item item_log">
                {% if item.image1 %}
                  <img src="{{ url_for('static', filename='img/product_img/' + item.image1) }}" alt="">
                {% else %}
                  <img src="{{ url_for('static', filename='img/no-image.jpg') }}" alt="">
                {% endif %}
                <div class="text">
                  <h3>{{ item.title }}</h3>
                  {% if item.content | length > 15 %}
                    <p>{{ item.content[:15] }}...</p>
                  {% else %}
                    <p>{{ item.content }}</p>
                  {% endif %}
                  <a href="/info_product/{{ item.id }}" class="btn btn_info">Больше информации</a>
                </div>
              </div>
            {% else %}
              <div class="item{{ loop.index }} item">
                {% if item.image1 %}
                  <img src="{{ url_for('static', filename='img/product_img/' + item.image1) }}" alt="">
                {% else %}
                  <img src="{{ url_for('static', filename='img/no-image.jpg') }}" alt="">
                {% endif %}
                <div class="text">
                  <h3>{{ item.title }}</h3>
                  {% if item.content | length > 15 %}
                    <p>{{ item.content[:15] }}...</p>
                  {% else %}
                    <p>{{ item.content }}</p>
                  {% endif %}
                    <a href="/info_product/{{ item.id }}" class="btn btn_info">Больше информации</a>
                    {% if current_user.is_authenticated %}
                      <a href="/add-cart/{{ item.id }}" class="btn btn_info">Добавить в корзину</a>
                    {% else %}
                      <br><br><br>
                    {% endif %}
                </div>
              </div>
            {% endif %}
          {% else %}
            <h1 class="no-product">Пока что товаров нет</h1>
          {% endfor %}
        </section>
      </div>
      <!-- Добавление товара для авторизованных пользователей-->
      <section class="add-product">
        {% if current_user.is_authenticated %}
          <button class="btn btn_add-product btn-open">Добавить товар</button>
        {% else %}
          <br>
        {% endif %}
        <div class="modal add-product__modal hidden">
            <div class="flex">
              <button class="btn-close">⨉</button>
            </div>
            <form action="/shop" method="post" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
              <div>
                {{ form.name.label }}
                {{ form.name(type="text", id="name", value="") }}
              </div>
              <div>
                {{ form.price.label }}
                {{ form.price(type="number", id="price") }}
              </div>
              <div>
                {{ form.description.label }}
                {{ form.description(id="des", rows="5") }}
              </div>
              <div>
                {{ form.category.label }}
                {{ form.category(id="category") }}
              </div>
              <div>
                <div>
                  {{ form.image1.label }}
                  {{ form.image1(type="file", id="image1", accept="image/*") }}
                </div>
                <div>
                  {{ form.image2.label }}
                  {{ form.image2(type="file", id="image2", accept="image/*") }}
                </div>
              </div>
              <div>
                {{ form.submit(type="submit", class="btn btn_modal") }}
              </div>
            </form>
        </div>
        <div class="overlay hidden"></div>
      </section>
    </div>
  </div>
</main>
<button class="back-to-top hidde"></button>
<!-- поиск-->
<script>
// динамический поиск
document.addEventListener('DOMContentLoaded', function() {
  const searchForm = document.querySelector('.search-form');
  const searchInput = searchForm.querySelector('input[name="search"]');
  const productListContainer = document.querySelector('.product .giutar');

  searchForm.addEventListener('input', function(event) {
    const searchTerm = searchInput.value.trim(); // Получаем значение поискового запроса

    // Выполняем AJAX-запрос к маршруту /shop с использованием POST-запроса и передаем search_term
    fetch('/shop', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded' // Устанавливаем заголовок Content-Type
        },
        body: `search_term=${encodeURIComponent(searchTerm)}` // Передаем данные в формате x-www-form-urlencoded
    })
    .then(response => response.json()) // Преобразуем ответ в формат JSON
    .then(data => {
      // Очищаем контейнер с товарами
      productListContainer.innerHTML = '';

      // Обрабатываем результаты поиска и отображаем их на странице
      data.products.forEach(product => {
        const productElement = document.createElement('div');
        productElement.classList.add('item');
        if (product.img){
          productElement.innerHTML = `
            <div class="item item${product.id}">
              <img src="{{ url_for('static', filename='img/product_img/') }}${product.img}" alt="">
              <div class="text">
                <h3>${product.title}</h3>
                <p>${product.content}</p>
                <a href="/info_product/${product.id}" class="btn btn_info">Больше информации</a>
                {% if current_user.is_authenticated %}
                    <a href="/add-cart/${product.id}" class="btn btn_info">Добавить в корзину</a>
                {% endif %}
              </div>
            </div>
          `;
          productListContainer.appendChild(productElement);
        } else{
          productElement.innerHTML = `
            <div class="item item${product.id}">
              <img src="{{ url_for('static', filename='img/no-image.jpg') }}" alt="">
              <div class="text">
                <h3>${product.title}</h3>
                <p>${product.content}</p>
                <a href="/info_product/${product.id}" class="btn btn_info">Больше информации</a>
                {% if current_user.is_authenticated %}
                    <a href="/add-cart/${product.id}" class="btn btn_info">Добавить в корзину</a>
                {% endif %}
              </div>
            </div>
          `;
          productListContainer.appendChild(productElement);
        }
      });
    })
    .catch(error => console.error('Ошибка:', error)); // Обрабатываем ошибки
  });
});

// кнопка вверх
const showOnPx = 100;
const backToTopButton = document.querySelector(".back-to-top")

const scrollContainer = () => {
  return document.documentElement || document.body;
};

document.addEventListener("scroll", () => {
  if (scrollContainer().scrollTop > showOnPx) {
    backToTopButton.style.opacity = "1";
    backToTopButton.style.outline = "3px solid #FFF0BB";
  } else {
    backToTopButton.style.opacity = "0";
    backToTopButton.style.outline = "none";
  }
})

const goToTop = () => {
	document.body.scrollIntoView({
    behavior: "smooth",
  });
};

backToTopButton.addEventListener("click", goToTop);
</script>
{% endblock %}