extends ../layouts/base.pug

block css 
    link(rel="stylesheet", href="../../static/css/cart.css")

block content
    // {{ extends "base.html" }}
    // {% block content %}{% endblock %}
    // main
    main
        .container
                .main__wraper
                    article
                        h1 Корзина
                    section.cart
                        .item1.item.item_gor
                            img(src="https://www.slapshop.ru/upload/iblock/806/k014nz3bcntldhvrgej0z1uvdbavhut6.jpg", alt="")
                            .text
                                h3 NAME
                                p description
                                button.btn.btn_item model
                        .item2.item
                            img(src="https://www.slapshop.ru/upload/iblock/806/k014nz3bcntldhvrgej0z1uvdbavhut6.jpg", alt="")
                            .text
                                h3 NAME
                                p description
                                button.btn.btn_item model
                        .item3.item
                            img(src="https://www.slapshop.ru/upload/iblock/806/k014nz3bcntldhvrgej0z1uvdbavhut6.jpg", alt="")
                            .text
                                h3 NAME
                                p description
                                button.btn.btn_item model
                        .item4.item
                            img(src="https://www.slapshop.ru/upload/iblock/806/k014nz3bcntldhvrgej0z1uvdbavhut6.jpg", alt="")
                            .text
                                h3 NAME
                                p description
                                button.btn.btn_item model
                        .item5.item
                            img(src="https://www.slapshop.ru/upload/iblock/806/k014nz3bcntldhvrgej0z1uvdbavhut6.jpg", alt="")
                            .text
                                h3 NAME
                                p description
                                button.btn.btn_item model